img {
    width: 100%;

    
}

#topper2{
    background-image: url(Header%20photo.jpg.webp);
    background-size:cover;
    height:100vh;
}

h1 {
margin:50px; 
color:white;
padding:20px;
text-align: center; 
font-family: lora, open sans, sans-serif;
}

h3 {
font-family: lora, open sans, sans-serif;
color:white; 
margin-top: 500px; 
}

.caption {
 color:grey;  
font-family: "Noto Serif Georgian", serif;  
padding: 8px;
text-align:center;
}

h2 {
font-family: lora, open sans, sans-serif; 
font-weight: bold;
}


p {
   font-family: lora, open sans, sans-serif;    
}



p{
font-family: open sans, sans-serif;    
    
}