/*
MY COLOR PALETTE
Hot pink #ec058e
Turquoise #62bbc1
White - #fffbfc
Grey - #30332e
Black - #010400
*/

body {
    background-color: #62bbc1;   
    text-align: center;
}


    
button{
    background-color: #010400;
    color: #fffbfc;  
    font-family: "Poppins", sans-serif;  
    font-weight:256;
    width:200px;
    padding:10px;
    margin-top:50px; 
    border:none;
    border-radius:12px;
    
}



button:hover {
    background-color:#30332e;
       
}



h1 {
    font-family: "Abril Fatface", serif;    
    
}

h2 {
     font-family: "Poppins", sans-serif;
    
    
}