img {
    width: 197%;
    position: relative;
    bottom:100px;
}

h1 {
    font-family: "cinzel", serif;
    color: white;
    margin-left: 80px;
    margin-top: 100px;
}

h2 {
    font-family:
        "lora",
        sans pro;
    color: white;
    padding-left: 80px;
}

h4 {
 font-family: "cinzel", serif;
 color: white;
text-decoration: underline;
text-decoration-color: #9a6951;
margin-left: 80px;
}



.col-sm-6 {
color:white;
font-family:"lora", sand pro; 
margin-left: 80px;
}



body {
    background-color: black;
}

button {
    background-color: #e4d0bc; /* beige */
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family:
        "lora",
        sand pro;
    width: 250px;
    float: left;
    position: relative;
    left: 72px;
    top: 60px;
    border-radius: 10px;
}

.col-sm-2 {
    float: right;
}

#navigation {
    color: #e4d0bc;
    text-align: center;
    font-family: "lora", sand pro;
    margin-top: 30px;
}

#articles {
margin-top: 600 px;
grid-template-columns: auto
  

    
    
 

     
}









    
}
    













/*  .jobtitle {
}
    */
