img {
    width:200%
}

h1 {
    font-family: "cinzel", serif;
    color:white;
    padding-left: 80px;
     padding-top: 50px;
}

h2{
font-family: "lora", sans pro;
color: white;
padding-left: 80px;
}

body {
background-color: black;
}

button  {
  background-color: #e4d0bc; /* beige */
  border: none;
  color: black; 
  text-align: center;
    font-size: 20px;
    font-family:"lora", sand pro;
    width: 250px;
    float: left;
    position: relative;
    left: 72px;
    top: 60px;
    }

.col-sm-2 {
   float:right; 
    
}
    

    
}